<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template.css" type="text/css">
    <title>Ryu Tech - Chat</title>
</head>
<body>

    <header>
        <div class="chatTitle"><div><a href="/"><h1>Ryu Technology</h1></a></div><button class="buttonLogout buttonProducts" onclick="location.href='/logout'">Logout</button></div>
    </header>

    <h2>Sala de Chat con Ryu Tech</h2>
    
    {{{body}}}

    <div class="centerButton">
        <a href="/"><button class="buttonProducts" >Ir a Home</button></a>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="../../../chats.js"></script>
</body>

</html>