<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body id="body">
    
    <header>
        <div class="headerTitle"><a href="/products"><h1>Ryu Technology</h1></a></div><div class="iconCart"><a href="/cart"><img src="./img/cart.png" alt="acceso al carrito"></a></div>
        <div class="templateUserloged"><h2>Bienvenido: --- <%= name %>  --- <%= email %></h2><button class="buttonLogout" onclick="location.href='/logout'">Logout</button></div>
    </header>


    <main>
    <section class="card" id="card"></section>

    <section class="cardSpace" >
        <form id="form" class="formCards" method="post" action="/" enctype="multipart/form-data" >
            <div class="tittleForm">Formulario para agregar productos</div>
            <input type="text" class="input" placeholder="Nombre" name="name" id="name" required >
            <input type="text" class="input" placeholder="Descripción" name="description" id="description" required >
            <input type="number" class="input" placeholder="Precio" name="price" id="price" required >
            <input type="text" class="input" placeholder="Categoria" name="category" id="category" required >
            <input type="number" class="input" placeholder="Stock" name="stock" id="stock" required >
            <input type="file" class="input" name="imgProduct" accept=".jpg, .png, .gif" required >
        
            <button type="submit">Enviar</button>
        </form>

    </section>

    <section class="itemIdAlining">
        <div class="itemId">
            <p>Consulta por ID</p>
            <input type="text" class="input" placeholder="Ingresa ID" name="itemId" id="itemId">
        </div>
    </section>

    <div id="myModal" class="modal">
        <div class="modal-content" id="modal-content">
            <span class="close">&times;</span>
            <div class="itemModal" id="itemModal"></div>
        </div>
    </div>

    </main>

    <footer class="footer"><h4>Ryu Technology || © All right Reserved</h4></footer>
    <script type="module" src="../../products.js"></script>

</body>
</html>