<div style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial; text-align: center; background-color: blue; color: aliceblue;">
    <h3><strong>Hello Admin, <%= receiver %></strong></h3>
    <p><%= message %></p>
    <div></div>
</div>

<div style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial">
    
    <p><strong>Info: </strong></p>
    <% content.forEach( x => { %>
        
        <ul style="text-decoration: none;">
        
            <% for(const [key, value] of Object.entries(x)){%>
            <li><%= key %> : <%= value %></li> 
            <% } %>
        </ul>
        </br>

    <% }) %> 
</div>
