<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template.css">
    <title>Desafio_13</title>
    
</head>
<body>
    <header>
        <a href="/"><h1 class="h1">Ryu Technology</h1></a>
    </header>
    
    
    <h2>ERROR !!!</h2>
    <section class="formCenter">

        <form class="form" action="/" method="post" id="formulario">

        
            <div class="buttonAling">
                <h1 class="titleLogout"> Mail / Password Wrong !!!</h1>
            </div>
            
        </form>

    </section>

    <footer class="footer"><h4>Ryu Technology || © All right Reserved</h4></footer>

    
    <script>

        setTimeout(() => {
            location.href = '/login'
        }, 2000)
    </script>
    

</body>

</html>