*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainIndex{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 84vh;

}

.mainIndex h1{

	color:darkblue;
}

.buttonIndex{

  margin-top: 20px;
}


header{

    display:flex;
    height: 100px;
    background-color: darkblue;
    color:white;
    align-items: center;
    justify-content: center;
    
}

.headerTitle {
    width: 75%;
    justify-content: center;
    text-align: center;
}

.headerTitle a {
    color: white;
    text-decoration: none;
}

.iconCart {
    width: 25%;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: center;
}

.iconCart img {
    width: 30%;
}

.footer {

    color: white;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footerTitle {
    font-size: 1rem;
}
main{

	min-height: 84vh;
}

.mainProducts {
    min-height: 84vh;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    flex-direction: row !important;
}

.item1 {
    display: flex;
}

.formCards{

	display: flex;
	flex-direction: column;
}

.cardSpace {
    display: flex;
    width: 100%;
    justify-content: center;
}

.datosBoton {
    margin: 15px;
}

.textCard {
    margin: 0px 10px;
}

.tittleForm{

	margin: 15px 0;
	font-weight: 800;
}

.alineadorContenido {

    padding: 10px;
    margin: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.596);
    transition: 0.3s;
    border-radius: 10px;
    width: 90%; 
}
.alineadorContenidoCart{
    padding: 10px;
    margin: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 5px 9px 0 rgb(0 0 0 / 60%);
    transition: 0.3s;
    border-radius: 10px;
    width: 65%;
}

.aliningButtons{

    display:flex;
}

.aliningButtons button{

    margin: 0px 10px; 
}

.imgProduct {
    width: auto;
    height: 250px;
}

.imgProductCart {
    width: auto;
    height: 170px;
}

.imagenAvatar {
    width: 40px;
    height: 40px;
}

.dataBase {
    display: flex;
    flex-direction: column;
}


.tittleFormEdit{

	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: larger;
	font-weight: 800;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.dataModal {
    margin: 15px 0px;
}
.itemIdAlining{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.itemId{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
}

.error{

	display:flex;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	font-size: larger;
}

.errorBody{

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.titleError{
  
	font-weight: 900;
	margin: 250px 0 100px 0;
}

.titleErrorDefault{

    font-weight: 900;
	margin: 100px 0 100px 0;

}
.messageContainer{

	display: flex;
	width: 70%;
	justify-content: center;
	align-items: center;
}
.messageContainer h2{

  margin: 0 10px;
}

.bodyCart {
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.cartEmpty{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.empty {
    display: flex;
    justify-content: center;
	
}
.cartEmpty button{

	margin-top: 10px;
}

.empty button{

	margin: 0 15px;
	
}

.templateUserloged {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    margin: 54px 54px;
    padding: 0 10px;
    width: 100%;
    background-color: #136ed68e;
    border-radius: 12px;
    box-shadow: 3px 4px 15px 5px rgb(15 3 25 / 56%);
	align-items: center;
}

.h2Header {
    font-size: 1.5rem;
    padding: 5px;
    margin: 0;
}


.buttonLogout{

    padding: 10px 10px;
}

.iconAvatar{

	height: 50px;
	
}

.divCategory {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-select {
    display: flex;
    width: 50% !important;
    text-align-last: center;
}

.formContainer{

    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 84vh;
}

.alignContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.alignFormAddress{

    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.formTextbox {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.buttonSize {
    width: 50%;
    align-self: center;
}

.orders {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 74vh;
}

.orderContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.ordersTitle{

    text-align: center;
    margin: 30px 0;
}

table, td, th {

    border: 1px solid black;
}
  
table {

    align-items: center;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

th{

    background-color: darkblue;
    color: white;
    height: 30px;
}

td {

    text-align: center;
}

tr {

    border-width: medium;
}

tbody, td, th, tr, table, thead{

    border-width: thin !important;
    vertical-align: middle;
}

.pOrder{

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dateOrders{

    margin: 30px 0;
}

.errorsContainer {

    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subTitleError {

    text-align: center;
    margin: 20px;
}

.mainProfile {

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}
.profileContainer {

    align-items: center;
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 20px 0 20px 0;
    background-color: snow;
    border-radius: 3px;
    box-shadow: 0px 5px 8px 1px rgb(15 3 25 / 62%);
}

.imgProfile {
    
    width: 150px;
    height: 150px;
    margin: 30px 50px;
}

.centerButtonProfile{

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonOrders, .buttonMessages {
    margin: 10px;
    padding: 5px;
}

.buttonProducts{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 7px;
  padding-right: 7px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.buttonProducts:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.buttonProducts:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.buttonProducts:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.item2 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align-last: center;
}

.centerChat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

