*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{

    display:flex;
    height: 100px;
    background-color: darkblue;
    color:white;
    align-items: center;
    justify-content: center;
}

h1, h2{

    text-align: center;
    margin: 20px 0;
}

h2{

    color: darkblue;
}

.h1{

    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}
table, td, th {

    border: 1px solid black;
}
  
table {

    align-items: center;
    border-collapse: collapse;
    width: 50%;
}

.registro{

    text-align: center;
}

tr:nth-child(even){

    background-color: #f2f2f2;
}

th{

    background-color: darkblue;
    color: white;
    height: 30px;
}

td {

    text-align: center;
}

.centerTable{

    display: flex;
    justify-content: center;
}

.imgSize{

    width: 50px;
}

.centerButton{

    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}

.buttonAling{

    display: flex;
    justify-content: center;
}
.form, .form2, .formInfo{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 54px 0;
    width: 242px;
    background-color: #00008ba1;
    border-radius: 12px;
    box-shadow: 3px 4px 15px 5px rgb(15 3 25 / 56%);
}

.form{

    width: 333px;
}

.formInfo{

    width: 80%;
    align-items: flex-start;
}

.formInfo h2{

    text-align: left;
}

.formCenter{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 24px 5px 5px 5px;
    padding: 5px 5px;
    width: 75%;
}

.buttonAling{

    margin: 10px 10px;
}

.titleLogout{

    color: white;
    padding: 15px 15px;
}
.submit{

    padding: 5px 5px;
}

.footer {

    color: white;
    background-color: darkblue;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.userDTO{

    display:flex;
    width: 100%;
}

.templateChat{

    height: 300px;
	width: 70%;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll

}

.infoContainerGeneral {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.infoContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: navy;
    border-radius: 10px;
    box-shadow: 3px 4px 15px 5px rgb(15 3 25 / 56%);
}

.infoElementContainer {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.infoElementTitle {
    background-color: dodgerblue;
    width: auto;
    border-radius: 5px 5px 0 0px;
    color: white;
    padding: 10px;
    text-align: center;
}

.infoElementValue {
    text-align: center;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    color: bal;
}
.buttonProducts{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .buttonProducts:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .buttonProducts:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .buttonProducts:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }
  
  .formatPrinting {
    display: flex;
    margin: 10px 17px;
    align-items: flex-end;
}


.mailColor {

    color: blue;
    font-weight: 900;
    padding: 0px 9px 0px 0px;
}

.dateColor {

    color: brown;
    padding: 0px 9px 0px 0px;
}

.colorMessage {

    color: green;
    font-style: italic;
    padding: 0px 9px 0px 9px;
}

.sizeAvatar {
    margin: 0;
    padding: 0;
    width: 3%;
    display: flex;
    justify-content: center;
}

.tituloChat{
    
    margin: 10px 0px;
    color: white;
    font-size: larger;
}

.buttonChat {

    margin: 10px;
    padding: 5px;
}

textarea {

    height: 80px;
    width: 400px;
}

.form2{ 

    width: 550px;
}

.chatTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.chatTitle a {
    color: white;
    text-decoration: none;
}