<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Cart</title>
</head>
<body>
    <header>
        <div class="headerTitle"><a href="/productos"><h1>Ryu Technology</h1></a></div><div class="iconCart"><a href="#"><img src="../images/cart.png" alt="acceso al carrito"></a></div>
        <div class="templateUserloged"><h2 class="h2Header">Bienvenido: --- <%= name %>  --- <%= email %></h2><a href="/chat/salaChat"><img class="imagenAvatar" src="../../images/iconchat.png" title="ir a Sala de Chat con el Administrador"></a> <a href="/userLogged"><img class="imagenAvatar" title="Ir a perfil de usuario" src=.<%= img %>></a> <button class="buttonLogout buttonProducts" onclick="location.href='/logout'">Logout</button></div>
    </header>
    
    

    <section id="bodyCart" Class="bodyCart"></section>
    <div id="buttonEmpty"></div>
    
    <footer class="footer"><h4 class="footerTitle">Ryu Technology || 2023 © All right Reserved</h4></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/cart.js"></script>
    
</body>

</html>