<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template.css">
    <title>Ryu Tech - Logout</title>
    
</head>
<body>
    <header><a href="/"><h1 class="h1">Ryu Technology</h1></a></header>
    <h2>Logout</h2>

    <section class="formCenter">
        <form class="form" action="/" method="post" id="formulario">
            <div class="buttonAling">
                <h2 class="titleLogout">Hasta Luego <%= name %>!</h2>
            </div>
        </form>
    </section>

    <script>

        fetch(`/logout`, {
            method: "DELETE",
        }).then(() => {
            setTimeout(() => {
                location.href = '/'
            }, 2000)
        })
    </script>
</body>
</html>