<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template.css">
    <title>Desafio_ejs</title>
</head>
<body>
    <%- include('../partials/header') %>

    <% if(boolean){ %>

        <div class="centerTable">

            <table>

                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price (USD)</th>
                        <th>Thumbnail</th>
                    </tr>
                </thead>
        
                    <tbody>

                        <% products.forEach(x =>{ %>

                            <tr>
                                <td><%= x.tittle %></td>
                                <td><%= x.price %></td>
                                <td><img class="imgSize" src='<%= x.thumbnail %>'></td>
                                </tr>
                            </tr>
                        <%})%>


                    </tbody>
            </table>

        </div>

        <%} else { %>

            <h2>No hay productos</h2>

        <% } %>

    <div class="centerButton"><a href="/"> <button> Ir a formulario</button></a></div>

</body>

</html>