
    <div class="centerTable">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Price (USD)</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>

            <tbody>
                
                {{#each products }}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.price}}</td>
                        <td><img class="imgSize" src="{{this.thumbnail}}"></td>
                        </tr>
                    </tr>
                {{/each}}
            </tbody>
            
        </table>
    </div>
