<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template.css">
    <title>Desafio_20 Info</title>
</head>
<body>
    <header>
        <a href="/"><h1 class="h1">Ryu Technology</h1></a>
    </header>

    <section class="formCenter">

        <div class="formInfo">

            <h2 class="titleLogout">Result - Random Numbers</h2>
            <h2 class="titleLogout" >
                </br></br>
                
                <div><p><%= result %></p></div>
            </h2>

            
        </div>
     
    </section>

</body>

</html>